@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="section">Copyright &copy; 2021 <a href="#"><B>TEAM CODING TITANS</B></a> All rights reserved | Website
        By <a target="_blank" href=""></a><B>Petshopee</B>
</div>

